<phpunit bootstrap="./phpunitBootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Core">
            <directory>./src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../src/Artax</directory>
            <exclude>
                <file>../src/Artax/Mediator.php</file>
                <file>../src/Artax/ReflectionPool.php</file>
                <file>../src/Artax/UnifiedHandler.php</file>
                <file>../src/Artax/Injector.php</file>
                <file>../src/Artax/BadListenerException.php</file>
                <file>../src/Artax/FatalErrorException.php</file>
                <file>../src/Artax/ScriptHaltException.php</file>
                <file>../src/Artax/ProviderDefinitionException.php</file>
            </exclude>
        </whitelist>
    </filter>
    
    <logging>
        
        <log type="coverage-text"
            target="php://stdout"
            highLowerBound="85"
            lowUpperBound="50"
        />
        
        <log type="coverage-html"
            target="./coverage"
            charset="UTF-8"
            highLowerBound="85"
            lowUpperBound="50"
            showUncoveredFiles="true"
            yui="true"
        />
        
    </logging>
</phpunit>
