# ignore specific test.php file
test.php
test/watch


# don't sync web app examples with repository just yet
examples/myapp

# don't sync html documentation with repository
docs

# ignore pre-commit hook file for now
pre-commit.php
