<phpunit bootstrap="./test/bootstrap.php" colors="true">
  
  <testsuites>
    <testsuite name="core">
      <directory>./test/src/Artax</directory>
    </testsuite>
  </testsuites>
  
  <filter>
	  <blacklist>
      <!-- Prevent vfsStream output in our code coverage reports -->
      <directory>/usr/share/pear/vfsStream</directory>
      <directory>./src/vendors</directory>
    </blacklist>
    
    <whitelist addUncoveredFilesFromWhitelist="true">
      <!-- Report code coverage for everything in our /src/Artax directory -->
      <directory>./src/Artax</directory>
      <exclude>
        <!-- Exclude Interfaces from code coverage -->
        <directory suffix="Interface.php">./src/Artax</directory>
        <!-- Exclude non-core block libs -->
        <directory>./src/Artax/blocks</directory>
      </exclude>
    </whitelist>
  </filter>

	<logging>
		<log
		  type="coverage-html"
		  target="./docs/coverage"
		  charset="UTF-8"
			yui="true"
			lowUpperBound="35"
			highLowerBound="70"
			showUncoveredFiles="true"
		/>
		
		<log
		  type="coverage-text"
		  target="php://stdout"
		  lowUpperBound="35"
			highLowerBound="70"
		/>
		
	</logging>
</phpunit>
